@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  font-family: 'Source Code Pro', monospace;
  color: #232323;
  background-color: #FAFAFA;
}

svg {
  height: 400px;
  width: 250px;
}

nav {
  bottom: 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 2000;
}

nav svg {
  color: #fafafa;
  height: 10vh;
  margin: 0 15px 15px 15px;
  width: 100px;
}

.icon-stroke {
  animation-duration: 8s;
  animation-fill-mode: forwards;
  animation-name: drawIcons;
  stroke-dasharray: 100;
}

.face-partial {
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-name: drawFace;
  stroke-dasharray: 2500;
}

#face-container {
  display: flex;
  justify-content: center;
}


#typing-container {
  text-align: center;
}

#name {
  font-size: 65px;
  line-height: 65px;
}

#role {
  font-size: 40px;
  line-height: 40px;
}

#underline-1, #underline-2 {
  animation: blink .5s infinite;
}

#underline-2 {
  display: none;
}

@-webkit-keyframes drawFace {
  0% {
    fill: #FAFAFA;
    stroke-dashoffset: 2500;
  }
  50% {
    fill: #FAFAFA;
    stroke-dashoffset: 0;
  }
  100% {
    fill: #232323;
  }
}

@-webkit-keyframes drawIcons {
  0% {
    fill: #FAFAFA;
    stroke-dashoffset: 100;
  }
  65% {
    fill: #FAFAFA;
    stroke-dashoffset: 100;
  }
  85% {
    fill: #FAFAFA;
    stroke-dashoffset: 0;
  }
  100% {
    fill: #232323;
  }
}

@-webkit-keyframes blink {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

/*MEDIA QUERIES*/
/* iPhone 5 ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-height: 568px)
and (orientation : portrait)
and (-webkit-device-pixel-ratio: 2){
  svg {
    height: 900px;
    width: 600px;
  }

  #typing-container {
    font-size: 60px;
    text-align: center;
  }

  #name {
    font-size: 120px;
    line-height: 120px;
  }

  #role {
    font-size: 70px;
    line-height: 70px;
  }
}

@media only screen
and (min-device-width: 320px)
and (max-device-height: 568px)
and (orientation : landscape)
and (-webkit-device-pixel-ratio: 2){
  svg {
    height: 200px;
    width: 100px;
  }

  #typing-container {
    font-size: 60px;
    text-align: center;
  }

  #name {
    font-size: 120px;
    line-height: 120px;
  }

  #role {
    font-size: 70px;
    line-height: 70px;
  }
}

/* iPhone 6 ----------- */
@media only screen
and (min-device-width: 375px)
and (max-device-height: 667px)
and (orientation : portrait)
and (-webkit-device-pixel-ratio: 2){
  svg {
    height: 900px;
    width: 600px;
  }

  #typing-container {
    font-size: 60px;
    text-align: center;
  }

  #name {
    font-size: 120px;
    line-height: 120px;
  }

  #role {
    font-size: 70px;
    line-height: 70px;
  }
}

@media only screen
and (min-device-width: 375px)
and (max-device-height: 667px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 2){
  svg {
    height: 900px;
    width: 600px;
  }

  #typing-container {
    font-size: 60px;
    text-align: center;
  }
}
